.App {
  text-align: center;
}

button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

button:hover,
button:active {
  background-color: silver;
  border-color: silver;
  color: white;
}

form div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

form div label {
  font-weight: bold;
  margin-right: 1rem;
}

form div input, form div textarea {
  width: 90%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}

